	.container {
		height: 100%;
		width: 350px;
		margin: 50px auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		font-family: arial;
		cursor: pointer;
	}

	.header {
		height: 100px;
		width: 350px;
		border-radius: 10px;
		background-color: #fff;
		-webkit-box-shadow: 4px 4px 12px -2px rgba(89,82,89,1);
		-moz-box-shadow: 4px 4px 12px -2px rgba(89,82,89,1);
		box-shadow: 4px 4px 6px -2px rgba(89,82,89,1);
	}

	.header form {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding-top: 25px;
	}

	.todo-add-input {
		height: 50px;
		flex: 1;
		border: none;
		background-color: #f5f5f5;
		text-align: center;
	}

	.todo-add-input:focus {
		outline: none;
	}

	.add-button {
		height: 48px;
		width: 48px;
		margin-top: 54px;
		position: absolute;
		background-color: #a5d6a7;
		border-radius: 50px;
		line-height: 42px;
		text-align: center;
		font-size: 30px;
		border: 3px solid #e0e0e0;
		color: #fff;
		box-shadow: 2px 4px 3px -1px rgba(89,82,89,1);
	}

	.add-button:focus {
		outline: none;
	}

	.add-button:hover {
		background-color: #81c784;
	}
	
	.content {
		height: 100%;
		width: 340px;
		border-radius: 10px;
		background-color: #fff;
		-webkit-box-shadow: 4px 4px 12px -2px rgba(89,82,89,1);
		-moz-box-shadow: 4px 4px 12px -2px rgba(89,82,89,1);
		box-shadow: 4px 4px 6px -2px rgba(89,82,89,1);
		margin-top: 10px; 
		margin-bottom: 10px;
		padding: 5px;
	}
	
	.content ul {
		padding-left: 0;
		margin-top: 30px;
	}
	
	.content ul li {
		padding-left: 0;
		padding-bottom: 5px;
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px;
		border-bottom-style: solid;
		border-bottom-color: #f5f5f5;
	}

	.isCompleted {
		height: 24px;
		width: 24px;
		background-color: #e0e0e0;
		border-radius: 50px;
		border: 3px solid #a5d6a7;
		color: #fff;
		position:absolute;
		margin-left: 290px;
	}

	.footer {
		height: 85px;
		width: 350px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: gray;
	}

	.sum {
		border-right-style: solid;
		border-right-color: gray;
	}

	.sum, 
	.all, 
	.actives, 
	.completed {
		height: 85px;
		width: 350px;
		background-color: #fff;
		line-height: 85px;
		transition: all .3s ease;
		list-style: none;
	}

	.all-btn, 
	.active-btn, 
	.completed-btn {
		border: none;
		background: transparent;
		height: 40px;
		width: 75px;
		border-radius: 10px;
		cursor: pointer;
		transition: all .2s ease;
	} 

	.all:hover ,.actives:hover, .completed:hover {
		background-color: #a5d6a7;
		color: #fff;
	}

	.all-btn:focus ,.active-btn:focus, .completed-btn:focus {
		outline: none;
	}

	.center {
		text-align: center;
	}

	.passive  {
		color: black;
	}

	.Completed {
		text-decoration: line-through;
		color: red;
	}

	.Completed + .isCompleted::after {
		content: "+";
		font-size: 38px;
		line-height: 24px;
		color: #a5d6a7;
	}

	.active {
		background-color: #a5d6a7;
		color: #fff;		
	}